@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/ptsans/ptsans.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/ptsans/ptsansbold.woff) format('woff');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/ptsans/ptsansitalic.woff) format('woff');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/ptsans/ptsansbolditalic.woff) format('woff');
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: Arsenal;
	src: url(../fonts/arsenal/arsenal-regular.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Arsenal;
	src: url(../fonts/arsenal/arsenal-bold.woff) format('woff');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Arsenal;
	src: url(../fonts/arsenal/arsenal-italic.woff) format('woff');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: Arsenal;
	src: url(../fonts/arsenal/arsenal-bolditalic.woff) format('woff');
	font-weight: 700;
	font-style: italic
}

html {
	background: url(../img/bg.png) fixed;
	font-family: 'PT Sans'
}

.title,.why h2 {
	font-family: Arsenal
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto
}

.header h1 {
	margin-bottom: -15px;
	padding: 10px 20px 0;
	font-size: 1.6rem;
	line-height: 1.5
}

.header a {
	text-decoration: none
}

.header h1 strong {
	font-size: 3rem;
	font-weight: 700;
	color: #DB0000
}

.title {
	padding: 20px;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	color: #17016E
}

.main h2,.main h3 {
	font-size: 1.75rem;
	text-align: center;
	font-weight: 700
}

.title span {
	display: inline-block;
	border-bottom: 1px solid
}

.wrap-menu {
	background-color: #EEE;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4
}

#hamburger,.wrap-menu p {
	display: none
}

.main h2 {
	margin: 20px auto;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .025rem;
	background-color: #858585;
	border: 1px dashed rgba(255,255,255,.4);
	box-shadow: 0 0 0 5px #858585;
	color: #F6F6F6
}

.main h3 {
	position: relative;
	margin: 10px 0 20px
}

.main h3::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	border-bottom: 3px double #A0A39E;
	z-index: 0
}

.main h3 span,.photo-block {
	position: relative
}

.main h3 span {
	display: inline-block;
	z-index: 2;
	padding: 0 20px;
	background-color: #F4F5F6;
	color: #464646
}

.contacts ul li,.photo-block ul li {
	border: 1px groove;
	background-color: rgba(255,255,255,.5)
}

.main h4 {
	margin: 10px auto 5px;
	text-align: center;
	font-size: 1.35rem;
	font-weight: 700
}

.main p {
	font-size: 1.4rem;
	padding: 10px 20px;
	text-indent: 2rem;
	line-height: 1.6
}

.main img {
	display: block;
	width: 100%;
	padding: 0 20px;
	margin: 20px 0
}

.photo-block img {
	display: block;
	max-width: 100%
}

.photo-block ul {
	position: absolute;
	top: 20px;
	right: 20px
}

.photo-block ul li {
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: 700;
	color: #17016E
}

.photo-block ul li:first-of-type::before,.photo-block ul li:last-of-type::before,.photo-block ul li:nth-of-type(2)::before,.photo-block ul li:nth-of-type(3)::before {
	content: '';
	position: absolute;
	display: inline-block;
	margin-top: -10px;
	margin-left: -90px;
	width: 3.25rem;
	height: 3.25rem;
	background-size: contain
}

.photo-block ul li:first-of-type::before,.photo-block ul li:nth-of-type(3)::before {
	background-image: url(../img/life.png)
}

.photo-block ul li:nth-of-type(2)::before {
	background-image: url(../img/mts.png)
}

.photo-block ul li:last-of-type::before {
	background-image: url(../img/gmail.png)
}

#vk_groups {
	position: absolute;
	right: 20px;
	bottom: 20px
}

.why-we {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px
}

.why {
	margin-bottom: 20px;
	flex-basis: 24%;
	text-align: center
}

.why .img {
	min-width: 100%
}

.why .img img {
	display: block;
	margin: 0 auto;
	width: 45%
}

.why h2 {
	margin: 10px 0;
	font-weight: 700;
	font-size: 1.6rem;
	color: #4A4A4A
}

.why h3 {
	font-size: 1.25rem;
	line-height: 1.3
}

.result ul {
	padding: 20px 20px 0
}

.result ul li {
	margin-left: 50px;
	line-height: 1.4
}

.result ul li:nth-of-type(odd) {
	margin-bottom: 10px;
	font-size: 1.75rem;
	color: #1ABC35
}

.result ul li:nth-of-type(odd):before {
	content: '✔';
	display: inline-block;
	position: absolute;
	margin-left: -40px;
	color: rgba(0,0,0,.9)
}

.result ul li:nth-of-type(even) {
	font-size: 1.5rem;
	font-weight: 700;
	color: rgba(0,0,0,.75)
}

.result ul li:nth-of-type(even):not(:last-of-type) {
	margin-bottom: 30px
}

.contacts {
	padding: 0 20px 20px
}

.contacts h2 {
	margin: 10px 0 35px;
	font-size: 1.7rem;
	line-height: 1.4
}

.contacts ul {
	margin-top: -10px;
	margin-bottom: 25px
}

.contacts ul:first-of-type {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around
}

.contacts ul:nth-of-type(2) li {
	margin-left: 110px;
	overflow: hidden
}

.contacts ul:last-of-type {
	margin-left: 50px
}

.contacts ul:last-of-type li a {
	color: inherit
}

.contacts ul li {
	display: inline-block;
	margin-left: 60px;
	padding: 10px 20px;
	font-size: 1.75rem
}

.contacts ul:first-of-type li {
	margin-bottom: 20px
}

.contacts ul li:first-of-type::before,.contacts ul li:last-of-type::before,.contacts ul li:nth-of-type(2)::before {
	content: '';
	position: absolute;
	display: inline-block;
	margin-top: -12px;
	margin-left: -90px;
	width: 3.25rem;
	height: 3.25rem;
	background-size: contain
}

.contacts ul:first-of-type li:first-of-type::before,.contacts ul:first-of-type li:last-of-type::before {
	background-image: url(../img/life.png)
}

.contacts ul:first-of-type li:nth-of-type(2)::before {
	background-image: url(../img/mts.png)
}

.contacts ul:nth-of-type(2) li::before {
	background-image: url(../img/gmail.png)
}

.contacts ul:last-of-type li::before {
	background-image: url(../img/VK.png)
}

.developed-by {
	text-align: center;
	padding: 20px 10px;
	font-size: 1.75rem;
	background-color: #455D7A;
	color: rgba(255,255,255,.7)
}

.developed-by a {
	color: rgba(255,255,255,85);
	font-weight: 700
}

#top {
	z-index: 1000;
	position: fixed;
	bottom: 15px;
	right: 15px;
	cursor: pointer
}

#top img {
	width: 80px;
	height: 80px
}

@media screen and (min-width: 700px) {
	.menu {
		display:-webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		font-family: Arsenal
	}

	.menu li {
		display: inline-block
	}

	.menu li a {
		position: relative;
		display: block;
		padding: 20px;
		font-family: 'PT Sans';
		font-size: 2.15rem;
		border-top: 3px solid rgba(0,0,0,.4);
		color: rgba(0,0,0,.65);
		text-decoration: none;
		transition: color .2s,text-shadow .2s
	}

	.menu li a:before {
		content: '';
		position: absolute;
		top: -8px;
		left: 47.5%;
		display: block;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-right: 15px solid rgba(0,0,0,.4);
		transform: rotate(-90deg)
	}

	.menu li a:hover {
		color: #000;
		text-shadow: 0 0 2px rgba(0,0,0,.3)
	}
}

@media screen and (min-width: 900px) and (max-width:1100px) {
	.photo-block ul li {
		font-size:1.5rem
	}

	.photo-block ul li:first-of-type::before,.photo-block ul li:last-of-type::before,.photo-block ul li:nth-of-type(2)::before,.photo-block ul li:nth-of-type(3)::before {
		margin-top: -8px;
		margin-left: -80px;
		width: 2.5rem;
		height: 2.5rem
	}

	.menu>li a {
		font-size: 1.75rem
	}

	.menu>li a:before {
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-right: 12px solid rgba(0,0,0,.4)
	}
}

@media screen and (max-width: 700px) {
	.header h1 {
		padding:10px;
		font-size: 1.35rem
	}

	.header h1 strong {
		font-size: 1.9rem
	}

	.title {
		font-size: 1.6rem
	}

	.menu {
		display: none
	}

	.menu li {
		text-align: center
	}

	.menu li:not(:last-of-type) {
		border-bottom: 1px solid #D4D4D4
	}

	.menu li a {
		display: block;
		padding: 20px;
		font-family: 'PT Sans';
		font-size: 2rem;
		color: rgba(0,0,0,.65);
		text-decoration: none
	}

	#hamburger {
		display: none
	}

	#hamburger:checked+.menu {
		display: block
	}

	.wrap-menu {
		position: relative;
		text-align: right
	}

	.wrap-menu p {
		display: inline-block;
		position: absolute;
		margin-top: 10px;
		right: 45%;
		font-size: 1.8rem;
		font-weight: 700
	}

	.wrap-menu .hamburger-menu {
		display: inline-block;
		margin-right: 10px;
		padding: .5rem 0;
		cursor: pointer
	}

	.wrap-menu .hamburger-menu span {
		display: block;
		position: relative;
		width: 40px;
		height: 7px;
		background-color: #52616B;
		border-radius: 10px
	}

	.wrap-menu .hamburger-menu span:nth-of-type(2) {
		margin: 5px 0
	}

	.main h2 {
		font-size: 1.5rem
	}

	.main p {
		padding: 10px;
		font-size: 1.1rem;
		line-height: 1.3
	}

	.main h3 span {
		font-size: 1.5rem
	}

	#top {
		right: 10px;
		bottom: 10px
	}

	#top img {
		width: 50px;
		height: 50px
	}
}

@media screen and (max-width: 900px) {
	.photo-block ul {
		position:static;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin: 20px 10px 0 55px
	}

	.photo-block ul li {
		margin-bottom: 10px;
		font-size: 1.25rem
	}

	.photo-block ul li:first-of-type::before,.photo-block ul li:last-of-type::before,.photo-block ul li:nth-of-type(2)::before,.photo-block ul li:nth-of-type(3)::before {
		margin-top: -5px;
		margin-left: -65px;
		width: 2rem;
		height: 2rem
	}

	.menu>li a {
		font-size: 1.5rem
	}

	.menu>li a:before {
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		border-right: 11px solid rgba(0,0,0,.4)
	}
}

@media screen and (max-width: 1000px) {
	.contacts ul:first-of-type {
		display:-webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column
	}

	.contacts ul:first-of-type li,.contacts ul:nth-of-type(2) li {
		margin-left: 70px
	}

	.contacts ul:last-of-type li {
		margin-left: 20px
	}
}

@media screen and (min-width: 650px) and (max-width:1000px) {
	.why {
		flex-basis:45%
	}

	.why .img img {
		width: 32.5%
	}

	.why h2 {
		font-size: 1.25rem
	}

	.why h3 {
		font-size: 1.2rem
	}

	.result ul li {
		margin-left: 30px
	}

	.result ul li:nth-of-type(odd) {
		margin-bottom: 5px;
		font-size: 1.5rem
	}

	.result ul li:nth-of-type(odd):before {
		margin-left: -30px
	}

	.result ul li:nth-of-type(even) {
		font-size: 1.25rem
	}

	.result ul li:nth-of-type(even):not(:last-of-type) {
		margin-bottom: 20px
	}

	.contacts h2,.developed-by {
		font-size: 1.5rem
	}
}

@media screen and (max-width: 650px) {
	.title {
		padding:20px 10px
	}

	.photo-block ul li {
		padding: 10px
	}

	.photo-block ul li:first-of-type::before,.photo-block ul li:last-of-type::before,.photo-block ul li:nth-of-type(2)::before,.photo-block ul li:nth-of-type(3)::before {
		margin-left: -55px
	}

	.why-we {
		padding: 20px 10px
	}

	.why {
		flex-basis: 95%
	}

	.why .img img {
		width: 22.5%
	}

	.why h2 {
		font-size: 1.225rem
	}

	.why h3 {
		font-size: 1.05rem
	}

	.main img {
		padding: 0 10px
	}

	.contacts,.result ul {
		padding: 20px 10px
	}

	.result ul li {
		margin-left: 0;
		line-height: 1.3;
		word-wrap: break-word
	}

	.result ul li:nth-of-type(odd) {
		margin-bottom: 5px;
		font-size: 1.35rem
	}

	.result ul li:nth-of-type(odd):before {
		content: ''
	}

	.result ul li:nth-of-type(even) {
		font-size: 1.1rem
	}

	.result ul li:nth-of-type(even):not(:last-of-type) {
		margin-bottom: 20px
	}

	.contacts h2 {
		font-size: 1.3rem
	}

	.contacts ul {
		margin-left: -20px
	}

	.contacts ul:last-of-type {
		margin-left: 30px
	}

	.contacts ul li {
		padding: 10px;
		font-size: 1.5rem
	}

	.contacts ul li:first-of-type::before,.contacts ul li:last-of-type::before,.contacts ul li:nth-of-type(2)::before {
		width: 2.5rem;
		height: 2.5rem;
		margin-top: -8px;
		margin-left: -60px
	}

	.contacts ul:last-of-type li,.contacts ul:nth-of-type(2) li {
		display: block
	}

	.developed-by {
		font-size: 1.25rem
	}
}

@media screen and (max-width: 500px) {
	.wrap-menu p {
		right:43%
	}
}
